body{
    margin: 0;
}


.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    height: 100vh;
    width: 100vw;
}





.dashboard{
    background-color: brown;
    grid-row-start: 1;
    grid-row-end: 5;
    height: 100%;
    
}
.dashboard img{
    max-width: 1.4rem;
    justify-self: end;
}
.dashboard h1{
    max-width: fit-content;
    margin: 1rem auto;
    
}
.nav ,.settingoptions {
    width: 100%;
    display: inline-grid;
    grid-template-columns: 1fr 5fr;
    color: white;
    font-size: 1rem;
    align-items: center;
}

div{
    border: 1px solid black;
}



.middlesection{
    background-color: antiquewhite;
    grid-row-start: 2;
    grid-row-end: 6 ;
    grid-column-start: 2;
    grid-column-end: 5;
}


.searcsection{
    
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    display: inline-grid;
    grid-template-columns: 1fr 5fr 1fr 1fr 1fr;
    gap: min(30px, 1rem);
    align-items: center;
    background-color: yellow;
}

.searcsection img {
    width: max(2rem);
    justify-self: end;
}

.searchbar{
    min-width: 5rem;
min-height: 2rem;
}

.child2{
    justify-self: center;
}
.child3{
    justify-self: start;

}
.child1{
    justify-self: end;
}

.dummy{
    min-width: 2rem;
    height: 1rem;
    background-color: black;
}